
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   @section scripts{
    <script>

        function ajaxcall() {
            var fname = $("#fname").val();
            var lname = $("#lname").val();

            var email = $("#email2").val();
            var password = $("#password2").val();
            var address = $("#address").val();
            var UserModel = new Object();

            UserModel.first_name = fname;
            UserModel.last_name = lname;
            UserModel.email = email;
            UserModel.password = password;
            UserModel.address = address;
            UserModel.user_type = 2;
            var setting = {
                type: "POST",
                data: UserModel,
                url: '/Home/SignUp',
            

            };
            $.ajax(setting);
            return false;
        }
        </script>
       }
        <div id="wrapper" class="container">

            <section class="main-content">
                <div class="row">
                    <div class="span5">
                        <h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>
                        <form action="/Home/Login" method="post">
                            <input type="hidden" name="next" value="/">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">Username</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Enter your username" id="email" name="email" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password</label>
                                    <div class="controls">
                                        <input type="password" placeholder="Enter your password" id="password" name="password" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <input tabindex="3" class="btn btn-inverse large" type="submit" value="Sign into your account">
                                    <hr>
                                    <p class="reset">Recover your <a tabindex="4" href="#" title="Recover your username or password">username or password</a></p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="span7">
                        <h4 class="title"><span class="text"><strong>Register</strong> Form</span></h4>
                        <form  method="post" class="form-stacked">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">First Name</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Enter your First Name" class="input-xlarge" id="fname">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Last Name</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Enter your Last Name" class="input-xlarge" id="lname">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email address:</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Enter your email" class="input-xlarge" id="email2">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password:</label>
                                    <div class="controls">
                                        <input type="password" placeholder="Enter your password" class="input-xlarge" id="password2">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Address:</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Enter your Address" class="input-xlarge" id="address">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <p>Now that we know who you are. I'm not a mistake! In a comic, you know how you can tell who the arch-villain's going to be?</p>
                                </div>
                                <hr>
                                <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Create your account" onclick="ajaxcall()"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>


        </div>
        <script src="themes/js/common.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkout').click(function (e) {
                document.location.href = "checkout.html";
            })
        });
    </script>
</body>
</html>